<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phr.muzima.org.phr">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_action_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".DataViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".FormsViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ProfileViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".NotificationsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".NotificationViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InitialSetupActivity"
            android:launchMode="singleTop" />
        <activity android:name=".WrongPasswordActivity" />
        <activity android:name=".SettingsActivity"></activity>
    </application>

</manifest>